<!DOCTYPE html>

<!--
NOTE: This template is only meant to provide a bootstrap to help new projects
get up and running with wq.  Please throw this out and replace it with your own
interesting and unique designs, styles and layouts.  The sky is the limit!
-->
<html manifest="{{ project_name }}.appcache">
  <head>
    <title>{{ project_name }} Project</title>
    {% templatetag openvariable %}>head{% templatetag closevariable %}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        <h1>{{ project_name }} Project</h1>
      </div>
      <div role="main" class="ui-content">
        <p>Hello, world!</p>
        <p>Version {% templatetag openvariable %}version{% templatetag closevariable %}</p>
        <ul data-role="listview">
          <li><a href="/login">Log In</a></li>
          <li><a href="/examples">Example List</a></li>
        </ul>
      </div>
      <div id="index-map" style="height:400px"></div>
    </div>
  </body>
</html>
