<!DOCTYPE html>
{% verbatim %}
<!--
NOTE: This template is only meant to provide a bootstrap to help new projects
get up and running with wq.  Please throw this out and replace it with your own
interesting and unique designs, styles and layouts.  The sky is the limit!
-->
<html>
  <head>
    <title>Observation List</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page" data-wq-sync-refresh="true">
      <div data-role="header">
        {{>home}}
        <h1>Observation List</h1>
      </div>
      <div role="main" class="ui-content">
        {{#unsynced}}
        <ul data-role="listview" data-inset="true">
          <li data-role="list-divider">Outbox</li>
          {{>outbox}}
        </ul>
        {{/unsynced}}
        <ul data-role="listview" data-filter="true" data-inset="true">
          <li data-role="list-divider">Synced Observations</li>
          {{#list}}
          <li>
            <a href="/observations/{{id}}">
              <img src="{{photo}}" alt="{{label}}">
              <h3>{{label}}</h3>
            </a>
          </li>
          {{/list}}
          {{^list}}
          <li>No Observations Found</li>
          {{/list}}
          <li data-icon="plus" data-theme="b">
            <a href="/observations/new">Add Observation</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
{% endverbatim %}
