<!DOCTYPE html>
{% verbatim %}
<!--
NOTE: This template is only meant to provide a bootstrap to help new projects
get up and running with wq.  Please throw this out and replace it with your own
interesting and unique designs, styles and layouts.  The sky is the limit!
-->
<html>
  <head>
    <title>{{label}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>{{label}}</h1>
        <a href="{{rt}}/observations/{{id}}/edit" data-icon="edit" data-transition="flip">
          Edit
        </a>
      </div>
      <div role="main" class="ui-content">
        <h1>{{label}}</h1>
        <table>
          <tr><th>Place</th><td><a href="{{rt}}/places/{{place_id}}">{{place_label}}</a></td></tr>
          <tr><th>Date</th><td>{{date}}</td></tr>
        </table>
        <img src="{{photo}}" alt="{{label}}" style="max-width:100%">
      </div>
    </div>
  </body>
</html>
{% endverbatim %}
