<!DOCTYPE html>
{% verbatim %}
<!--
NOTE: This template is only meant to provide a bootstrap to help new projects
get up and running with wq.  Please throw this out and replace it with your own
interesting and unique designs, styles and layouts.  The sky is the limit!
-->
<html>
  <head>
    <title>{{#id}}Edit{{/id}}{{^id}}Add{{/id}} Observation</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>{{#id}}Edit{{/id}}{{^id}}Add{{/id}} Observation</h1>
      </div>
      <div role="main" class="ui-content">
        <form action="{{svc}}/observations/{{id}}" method="post" data-ajax="false"
            data-wq-json="true"
            {{#outbox_id}}
              data-wq-outbox-id="{{outbox_id}}"
              data-wq-outbox-preserve="photo"
            {{/outbox_id}}>
          {{>csrf}}
          {{#id}}
          <input type=hidden name="_method" value="PUT">
          {{/id}}
          <ul data-role="listview">
            <li class="ui-field-contain">
              <label for="place_id">Place</label>
              <select id="place_id" name="place_id">
                <option value="">Select a place...</option>
                {{#place_list}}
                  {{>option}}
                {{/place_list}}
              </select>
              <p class="error observation-place_id-errors"></p>
            </li>
            <li class="ui-field-contain">
              <label for="date">Date</label>
              <input type="date" id="date" name="date" value="{{date}}">
              <p class="error observation-date-errors"></p>
            </li>
            {{>photo_edit}}
            <li>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <a href="{{rt}}/observations/{{id}}" data-role="button" data-icon="back" data-direction="reverse">
                    Back
                  </a>
                </div>
                <div class="ui-block-b">
                  <button type="submit" data-icon="check" data-theme="b">
                    Submit
                  </button>
                </div>
              </div>
              <p class="error observation-errors"></p>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </body>
</html>
{% endverbatim %}
