<!DOCTYPE html>
{% verbatim %}
<!--
NOTE: This template is only meant to provide a bootstrap to help new projects
get up and running with wq.  Please throw this out and replace it with your own
interesting and unique designs, styles and layouts.  The sky is the limit!
-->
<html>
  <head>
    <title>{{#id}}Edit{{/id}}{{^id}}Add{{/id}} Place</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>{{#id}}Edit{{/id}}{{^id}}Add{{/id}} Place</h1>
      </div>
      <div role="main" class="ui-content">
        <form action="{{rt}}/places/{{id}}" method="post" data-ajax="false"
            data-wq-json="true" data-wq-background-sync="false">
          {{>csrf}}
          {{#id}}
          <input type=hidden name="_method" value="PUT">
          {{/id}}
          <ul data-role="listview">
            <li class="ui-field-contain">
              <label for="name">Name</label>
              <input name="name" id="name" value="{{name}}">
              <p class="error place-name-errors"></p>
            </li>
            <li class="ui-field-contain">
              <label for="description">Description</label>
              <textarea name="description" id="description">{{description}}</textarea>
              <p class="error place-description-errors"></p>
            </li>
            {{>identifiers_edit}}
            <li>
              <div class="map edit-map" id="place-{{id}}{{^id}}new{{/id}}-edit-map"></div>
              <input type="hidden" name="locations">
              <p class="error place-locations-errors"></p>
            </li>
            <li>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <a href="{{rt}}/places/{{id}}" data-role="button" data-icon="back" data-direction="reverse">
                    Back
                  </a>
                </div>
                <div class="ui-block-b">
                  <button type="submit" data-icon="check" data-theme="b">
                    Submit
                  </button>
                </div>
              </div>
              <p class="error place-errors"></p>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </body>
</html>
{% endverbatim %}
