{% templatetag openvariable %}#multiple{% templatetag closevariable %}
<div data-role="footer">
  {% templatetag openvariable %}#previous{% templatetag closevariable %}
  <a href="{% templatetag openvariable %}previous{% templatetag closevariable %}" data-icon="arrow-l" data-iconpos="left"
    data-direction="reverse" class="ui-btn-left">
    {% templatetag openvariable %}^previous_is_local{% templatetag closevariable %}
    Prev {% templatetag openvariable %}per_page{% templatetag closevariable %}
    {% templatetag openvariable %}/previous_is_local{% templatetag closevariable %}
    {% templatetag openvariable %}#previous_is_local{% templatetag closevariable %}
    Local Cache
    {% templatetag openvariable %}/previous_is_local{% templatetag closevariable %}
  </a>
  {% templatetag openvariable %}/previous{% templatetag closevariable %}
  <h3>
    {% templatetag openvariable %}^current_is_local{% templatetag closevariable %}Page {% templatetag openvariable %}page{% templatetag closevariable %} of {% templatetag openvariable %}pages{% templatetag closevariable %}{% templatetag openvariable %}/current_is_local{% templatetag closevariable %}
    {% templatetag openvariable %}#current_is_local{% templatetag closevariable %}&nbsp;{% templatetag openvariable %}/current_is_local{% templatetag closevariable %}
  </h3>
  {% templatetag openvariable %}#next{% templatetag closevariable %}
  <a href="{% templatetag openvariable %}next{% templatetag closevariable %}" data-icon="arrow-r" data-iconpos="right"
     class="ui-btn-right">
    {% templatetag openvariable %}^current_is_local{% templatetag closevariable %}
    Next {% templatetag openvariable %}per_page{% templatetag closevariable %}
    {% templatetag openvariable %}/current_is_local{% templatetag closevariable %}
    {% templatetag openvariable %}#current_is_local{% templatetag closevariable %}
    All Data
    {% templatetag openvariable %}/current_is_local{% templatetag closevariable %}
  </a>
  {% templatetag openvariable %}/next{% templatetag closevariable %}
</div>
{% templatetag openvariable %}/multiple{% templatetag closevariable %}
