<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id = "{{ app_id }}"
    version = "{% templatetag openvariable %}version{% templatetag closevariable %}" >
  <name>{{ project_name }} Project</name>
  <description>{{ project_name }} Project</description>
</widget>
