<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    xmlns:android = "http://schemas.android.com/apk/res/android"
    id = "{{ app_id }}"
    version = "{% templatetag openvariable %}version{% templatetag closevariable %}" >
  <name>{{ project_name }} Project</name>
  <description>{{ project_name }} Project</description>
{% verbatim %}
  <platform name="android">
    {{#android.icons}}
    <icon src="{{filename}}" density="{{density}}" />
    {{/android.icons}}
    {{#android-splash.icons}}
    <splash src="{{filename}}" density="{{density}}" />
    {{/android-splash.icons}}
  </platform>

  <platform name="ios">
    {{#ios.icons}}
    <icon src="{{filename}}" width="{{width}}" height="{{height}}" />
    {{/ios.icons}}
    {{#ios-splash.icons}}
    <splash src="{{filename}}" width="{{width}}" height="{{height}}" />
    {{/ios-splash.icons}}
  </platform>

  <platform name="windows">
    <preference name="windows-appx-target" value="uap" />
    <preference name="windows-arch" value="anycpu" />
    {{#windows.icons}}
    <icon src="{{filename}}" width="{{width}}" height="{{height}}" />
    {{/windows.icons}}
    {{#windows-splash.icons}}
    <splash src="{{filename}}" width="{{width}}" height="{{height}}" />
    {{/windows-splash.icons}}
  </platform>

  <plugin name="cordova-plugin-camera" />
  <plugin name="cordova-plugin-geolocation" />
  <plugin name="cordova-plugin-dialogs" />

  <plugin name="cordova-plugin-whitelist" />
  <access origin="*" />

  <plugin name="cordova-plugin-splashscreen" />
  <config-file platform="android" parent="/manifest">
    <application android:theme="@android:style/Theme.NoTitleBar" />
  </config-file>
  <preference name="ShowSplashScreenSpinner" value="false" />
{% endverbatim %}
</widget>
